:root {
    --blue-green: #4D96A9;
    --soft-purple: #855FB1;
    --dark-navy: #28283D;
    --grey: #87879D;
    --baby-blue: #8FE3F9;
    --baby-purple: #D9B8FF;
    --white: #FAFAFA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
}

#top-logo {
    margin-top: 50px;
}

#top-section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.photo-collage {
    width: 500px;
}

#header-container {
    width: 650px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--dark-navy);
    margin-bottom: 20px;
}

#main-subheader {
    color: var(--grey);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

button {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    border-width: 0px;
    border-radius: 50px;
}

#button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

#download-button {
    background-color: var(--blue-green);
    width: 200px;
    height: 60px;
}

button:hover {
    cursor: pointer;
    opacity: 60%;
}

#version {
    color: var(--baby-blue);
}

#inquiry-button {
    background-color: var(--soft-purple);
    width: 140px;
    height: 60px;
}

#first-section-break {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.break-line {
    background-color: var(--grey);
    width: 1px;
    height: 80px;
}

.section-break-number {
    color: var(--grey);
    font-size: 1.4rem;
    font-weight: 700;
    border: 1px solid var(--grey);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

#middle-photo-grid {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1%;
    width: 75%;
}

.middle-photo {
    width: 300px;
    border-radius: 5%;
}

#section-two-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 35%;
    text-align: center;
}

#section-two-pre-header {
    text-transform: uppercase;
    color: var(--blue-green);
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--dark-navy);
    margin-bottom: 20px;
}

#section-two-subheader {
    color: var(--grey);
    font-size: 1.2rem;
}

#second-section-break {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#bottom-section {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
    background-image: url("/meet-landing-page/starter-code/assets/desktop/image-footer.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(77,150,169,0.8);
    position: absolute;
    bottom: -275px;
    z-index: -1;
}

#h2-footer {
    color: var(--white);
    width: 30%;
}

#p-footer {
    font-weight: 600;
    font-size: 1.1rem;
    width: 25%;
}

#bottom-download-button {
    background-color: var(--soft-purple);
    width: 200px;
    height: 50px;
}

#footer-version {
    color: var(--baby-purple);
}

@media screen and (max-width: 1400px) {
    .photo-collage {
        width: 400px;
    }

    #left-photo-collage {
        margin-left: -40px;
    }

    #right-photo-collage {
        margin-right: -40px;
    }

    #header-container {
        width: 35%;
    }

    h1 {
        font-size: 3.5rem;
    }

    #main-subheader {
        font-size: 1.15rem;
    }

    #download-button {
        margin-right: 5px;
    }

    .middle-photo {
        width: 255px;
        height: 242px;
    }
}

@media screen and (max-width: 1000px) {
    #top-section-container {
        flex-wrap: wrap;
    }

    #header-container {
        order: 3;
        width: 60%;
        margin-left: 20%;
        margin-top: 50px;
    }

    .photo-collage {
        width: 325px;
    }

    .middle-photo {
        width: 164px;
        height: 156px;
    }

    #section-two-text-container {
        width: 60%;
    }

    #bottom-section {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-size: cover;
        background-position-x: center;
    }

    #h2-footer {
        width: 50%;
        margin-top: 30px;
    }

    #p-footer {
        width: 80%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 575px) {
    .photo-collage {
        width: 150px;
    }

    #left-photo-collage {
        margin-left: -20px;
    }

    #right-photo-collage {
        margin-right: -20px;
    }

    #header-container {
        width: 90%;
        margin-left: 5%;
    }

    h1 {
        font-size: 2rem;
    }

    #main-subheader {
        font-size: 1rem;
    }

    #button-group {
        flex-direction: column;
        align-items: center;
    }

    #download-button {
        height: 50px;
        margin-bottom: 5px;
    }

    #inquiry-button {
        height: 50px;
    }

    .middle-photo {
        width: 105px;
        height: 95px;
        margin-bottom: 10px;
    }

    #middle-photo-grid {
        flex-wrap: wrap;
        width: 90%;
    }

    #section-two-text-container {
        width: 90%;
    }

    #section-two-pre-header {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #section-two-subheader {
        font-size: 0.9rem;
    }

    #h2-footer {
        width: 80%;
    }

    #p-footer {
        font-size: 0.9rem;
    }
}